<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration> 
	<properties resource="database.properties" />

	<typeAliases>
		<typeAlias alias="D1_Common"					type="org.kobic.kobis.main.vo.D1CommonVO" />
		<typeAlias alias="D1_Observation"				type="org.kobic.kobis.main.vo.D1ObservationVO" />
		<typeAlias alias="D1_Individual"				type="org.kobic.kobis.main.vo.D1IndividualVO" />
		<typeAlias alias="D1_Specimen"					type="org.kobic.kobis.main.vo.D1SpecimenVO" />
		<typeAlias alias="D1_Organ"						type="org.kobic.kobis.main.vo.D1OrganVO" />
		<typeAlias alias="D1_Source"					type="org.kobic.kobis.main.vo.D1SourceVO" />
		<typeAlias alias="D1_Seed"						type="org.kobic.kobis.main.vo.D1SeedVO" />
		<typeAlias alias="D1_Embryo"					type="org.kobic.kobis.main.vo.D1EmbryoVO" />
		<typeAlias alias="D1_DnaRnaProteinDerivative"	type="org.kobic.kobis.main.vo.D1DnaRnaProteinDerivativesVO" />
		<typeAlias alias="D1_Strain"					type="org.kobic.kobis.main.vo.D1StrainVO" />
		<typeAlias alias="D1_Cellstrin"					type="org.kobic.kobis.main.vo.D1CellStrainVO" />
		<typeAlias alias="D1_BodyFluid"					type="org.kobic.kobis.main.vo.D1BodyFluidVO" />
		<typeAlias alias="D1_ProteinSequence"			type="org.kobic.kobis.main.vo.D1ProteinSequenceVO" />
		<typeAlias alias="D1_Expression"				type="org.kobic.kobis.main.vo.D1ExpressionVO" />
		<typeAlias alias="D1_Structure"					type="org.kobic.kobis.main.vo.D1StructureVO" />
		<typeAlias alias="D1_DnaSequence"				type="org.kobic.kobis.main.vo.D1DnaSequenceVO" />
		<typeAlias alias="D1_Etc"						type="org.kobic.kobis.main.vo.D1EtcVO" />
		<typeAlias alias="D1_Extract"					type="org.kobic.kobis.main.vo.D1ExtractionVO" />
	</typeAliases>
 
    <environments default="development">
        <environment id="development">
          <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.passwd}"/>
                <property name="password" value="${db.passwd}"/>
 
                <!-- <property name="idleConnectionTestPeriod" value="60"/>
                <property name="maxPoolSize" value="20"/>
                <property name="maxIdleTime" value="600"/>
                <property name="preferredTestQuery" value="SELECT 1"/>  
                <property name="autoCommitOnClose" value="false"/> -->
            </dataSource>
       </environment>
    </environments>

 	<mappers>
  		<mapper resource="org/kobic/kobis/mybatis/sqlMapper/taxon.xml"/>
		<mapper resource="org/kobic/kobis/mybatis/sqlMapper/kobis.xml"/>
		<mapper resource="org/kobic/kobis/mybatis/sqlMapper/ncbi.xml"/>
		<mapper resource="org/kobic/kobis/mybatis/sqlMapper/rule.xml"/>
		<mapper resource="org/kobic/kobis/mybatis/sqlMapper/unmap.xml"/>
	</mappers>
</configuration>